<!-- `{{ }}` allows to use variables from the .ts file -->
<div class="column wrapper gap-1 p-1">
  <!-- '[]' is used for Property Binding. Set values of HTML elements or directives based on a component property. (one way, Component (.ts) -> HTML ) -->
  <!-- From a component's property into a target element property. '[]' identifies it as a target property, the one you want to assign a value. -->
  <!-- Without the '[]', Angular will treat the right hand side a string literal. -->
  <img [src]="product.image" alt="Product Thumbnail" />
  <!-- Using Pipes in a Template -->
  <!-- Left hand side: the value to be passed on the 'value' property (the required one). -->
  <!-- Right hand side: the pipe function and any additional arguments (if there is) separated by ':'. -->
  <h3 class="title">{{ product.name | truncateText : 16 : "._." }}</h3>
  <div class="row gap-1">
    <span class="price-label"> Price: </span>
    <span class="price">{{ product.price | priceSign }}</span>
  </div>

  <!-- `ngModel` & Two-Way Binding -->
  <!-- • A two-way/double binding (with `[()]`). bind a value of an 'input' element to a propery in a component & be in sync. (two way, Component (.ts) <-> HTML) -->
  <!-- More info on TWO-WAY Binding: https://angular.dev/guide/templates/two-way-binding -->
  <!-- Needs to import 'FormsModule'-->
  <p-rating
    [(ngModel)]="product.rating"
    [readonly]="true"
    iconCancelClass="hidden"
  />

  <button class="flex">Form</button>

  <!-- The `editProd()` emits something, so the `toggleEditPopup` (on Parent component) catches this emitted value. -->
  <div class="row">
    <button
      type="button"
      pButton
      icon="pi pi-bolt"
      (click)="editProd()"
      label="Edit"
    ></button>
  </div>
</div>
