<!-- `{{ }}` allows to use variables from the .ts file -->
<div class="column wrapper gap-1">
  <!-- '[]' is used for Property Binding. Set values of HTML elements or directives based on a component property. (one way, Component -> HTML ) -->
  <!-- From a component's property into a target element property. '[]' identifies it as a target property, the one you want to assign a value. -->
  <!-- Without the '[]', Angular will treat the right hand side a string literal. -->
  <img [src]="product.image" alt="Product Thumbnail" />
  <h3 class="title">{{ product.name }}</h3>
  <div class="row gap-1">
    <span class="price-label"> Price: </span>
    <span class="price">{{ product.price }}</span>
  </div>

  <!-- `ngModel` -->
  <!-- • A two-way/double binding (with `[()]`). bind a value of an 'input' element to a propery in a component & be in sync. (two way, Component <-> HTML) -->
  <!-- Needs to import 'FormsModule'-->
  <p-rating
    [(ngModel)]="product.rating"
    [readonly]="true"
    iconCancelClass="hidden"
  />
</div>
